body {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  font-size: 34px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
  margin-bottom: 0px;
}

.author {
  display: none;
}

p.author {
  font-family: helvetica;
  font-size: 14px;
  color: #fff;
  text-shadow: 1px 2px #000000;
}

h3 {
  font-size: 18px;
  font-family: Catamaran;
  color: #fff;
  text-shadow: 1px 2px #000000;
  display: inline-block;
}

h3:hover + p.author {
  display: inline-block;
}

h4 {
  font-size: 14px;
  font-family: Catamaran;
  color: #fff;
  text-shadow: 1px 2px #000000;
}

h5 {
  font-size: 15px;
  font-family: Catamaran;
  color: #fff;
  text-shadow: 1px 2px #000000;
}

h6 {
  font-size: 18px;
  font-family: helvetica;
  color: #fff;
  letter-spacing: -1px;
  text-shadow: 1px 2px #000000;
}

.panel {
  margin-right: 10px;
}

.clock {
  font-family: helvetica;
  color: #fff;
  font-weight: bold;
  letter-spcing: -1px;
  text-shadow: 2px 2px #000000;
  font-size: 110px;
}

.align-middle {
  margin-top: 15%;
  margin-bottom: 25%;
}

button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-shadow: 2px 2px #000000;
  padding: 3px 3px 3px 3px;
  font-size: 10px;
}

p.location {
  font-family: tahoma;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
  padding-top: 0px;
  margin-top: 0px;
  padding-right: 10px;
}

.panel {
  border: 0px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.panel .panel-heading {
  border: 0px solid #fff;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}

input[type=text] {
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 2px;
  margin-bottom: 10px;
  width: 100%;
}

p.item {
  font-family: helvetica;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 2px #000000;
  text-transform: capitalize;
}

.navbar-fixed-bottom {
  margin-bottom: 30px;
}

hr {
  border: 0;
  border-top: 1px solid #fff;
  opacity: .1;
}
