body {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  font-size: 34px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
}

h3 {
  font-size: 18px;
  font-family: Catamaran;
  color: #fff;
  text-shadow: 1px 2px #000000;
}

h6 {
  font-size: 18px;
  font-family: Verdana;
  color: #fff;
  letter-spacing: -1px;
  text-shadow: 1px 2px #000000;
}

.panel {
  margin-right: 10px;
}

.clock {
  font-family: Verdana;
  color: #fff;
  text-shadow: 2px 2px #000000;
  font-size: 90px;
}

.align-middle {
  margin-top: 15%;
  margin-bottom: 20%;
}
